*
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1,h2,h3,h4
{
    font-family: 'Times New Roman', Times, serif;
}
.docs
{
    position: relative;
    left: -5px;
}
